# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userprefs
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Code
.vscode/
